<h1>[Akt'n'Map] Bienvenue</h1>

<p>Cher <%= user.name %>,</p>

<p>vous avez été invité par <%= email.sponsor %> à nous rejoindre sur Akt'n'Map.</p> 

<p>Un compte a été créé pour vous et attend d'être utilisé:
<ul>
  <li>mail: <%= user.email %></li>
  <li>mot de passe: <%= user.password %></li>
  </ul>
</p>

<p>Si vous acceptez nos <a href='<%= email.domainPath + 'terms' %>'>conditions générales</a> suivez <a href='<%= email.link %>'>ce lien</a> pour accéder à la page de connexion. Si vous refusez votre compte sera automatiquement détruit dans un délai de 48h.</p>
