<h1>[Akt'n'Map] <%= email.subject %></h1>

<p>Dear <%= user.name %>,</p>

<p>you'be been invited by <%= email.sponsor %> to join us on Akt'n'Map.</p> 

<p>An account has been created for you and is ready to use with the following details:
<ul>
  <li>email: <%= user.email %></li>
  <li>password: <%= user.password %></li>
</ul>

</p>

<p>If you accept our <a href='<%= email.domainPath + 'terms' %>'>terms and policies</a> follow <a href='<%= email.link %>'>this link</a> to access the login page. If you do not accept your account will be automatically removed within 48h.</p>

