<h1>[Akt'n'Map] <%= email.subject %></h1>

<p>Dear <%= user.name %>.</p>

<p>You'be been invited to join us on Akt'n'Map</p> 

<p>An account has been created for you and is ready to use with the following details:
<ul>
  <li>email: <%= user.email %></li>
  <li>password: <%= user.password %></li>
</ul>

</p>

<p>Follow <a href='<%= email.link %>'>this link</a> to access the login page. You should read our <a href='<%= email.domainPath + 'terms' %>'>terms and policies</a>.</p>

<p>If you do not want to get registrated to Akt'n'Map please let us know by following <a href='mailto:support@kalisio.com?subject=I refuse to get registrated to Akt'n'Map&body=Please cancel the invitation I recevied to join the Akt'n'Map solution.'>this link</a>.</p>

