<h1><%= email.subject %></h1>

<p>Hi <%= user.name %>, your user information was just changed. Please verify that you made these changes.</p>
<ul>
<% for (var key in user.verifyChanges) {%>
   <li><%= key %>: <%= user.verifyChanges[key] %></li>
<% } %>
</ul>

<p>Follow <a href='<%= email.link %>'>this link</a> to approve the changes.</p>

<p>If you didn't request this change please let us know by following <a href='mailto:support@kalisio.com?subject=I did not change my information&body=Someone unauthorized changed my information.'>this link</a>.</p>
